<div class="container mx-auto flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 shadow-md w-96 relative p-6 my-10">
    
    <div class="card-body flex flex-col">
      <h2 class="card-title text-center"><h2><%= t(".change_my_password") %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

          <label class="input validator flex items-center gap-2 mt-2">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
              </g>
            </svg>
            <%= f.password_field :password, placeholder: "Password", required: true, 
                  minlength: 8, pattern: "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", 
                  title: "8文字以上で、数字、小文字、大文字を含む必要があります",
                  class: "input input-bordered" %>
          </label>
          <p class="validator-hint text-sm text-red-500 hidden">
          8文字以上で、以下を含む必要があります, including:
            <br/>少なくとも1つの数字
            <br/>少なくとも1つの小文字
            <br/>少なくとも1つの大文字
          </p>
        </div>
        <div>
          <label class="input flex items-center">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password",
                  class: "input input-bordered mx-12" %>
          </label>
        </div>

        <div class="actions m-6">
          <%= f.submit "パスワードを変更する", class: "btn btn-success w-full" %>
        </div>
      <% end %>

      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

