<div class="container mx-auto flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 shadow-md w-96 relative p-6 my-10">

    <div class="card-body space-y-4">
      <h2 class="card-title text-center"><h2><%= t(".forgot_your_password")%></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <label class="input input-bordered validator flex items-center gap-2">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
            <%= f.email_field :email, placeholder: "mail@example.com", required: true, class: "input input-neutral"%>
          </label>
        </div>

        <div class="actions m-5">
          <%= f.submit t(".send_me_reset_password_instructions"), class: "btn btn-success" %>
        </div>
      <% end %>
    
      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>