<header>#配置考える　ex)ヘッダー、ナビゲーションバー、サイドバー
  <h1 class="nav-item">
    <%= link_to "well断", "/", class: "nav_link" %>
    <%= link_to "会員登録", "#", class: "nav-link" %>
    <%= link_to "ログイン" , "#", class: "nav-link" %>
    <%= link_to "ログアウト", "#", class: "nav-link" %>

    <%= link_to "クローゼット" , "#", class: "nav-link" %>
    <%= link_to "マイページ", "#", class: "nav-link" %>
  </h1>
</header>