<div class="container mx-auto flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 shadow-md w-96 relative p-6 my-10">
    <div class="card-body space-y-4">
      <h2 class="card-title text-center"><%= t(".sign_in") %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-control">
          <%= f.label :email, class: "label font-semibold" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
        </div>

        <div class="form-control">
          <%= f.label :password, class: "label font-semibold" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <label class="cursor-pointer flex items-center gap-2 mt-2">
              <%= f.check_box :remember_me, class: "checkbox" %>
              <span class="label-text"><%= f.label :remember_me %></span>
            </label>
          </div>
        <% end %>

        <div class="form-control">
          <%= f.submit t(".sign_in"), class: "btn btn-primary w-full mt-4" %>
        </div>
      <% end %>

      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
