<div class="container mx-auto px-4 min-h-screen">
  <p class="text-center mt-4 text-sm text-gray-500">画面を最新の状態にするにはリロードしてください</p>
    <%= link_to new_checklist_path, data: { action: "modal#open", turbo_frame: "modal" }, class: "btn btn-secondary flex items-center mt-10" do %>
    <i class="fa-solid fa-plus fa-2xl" style="color: #293454;"></i>
    <span><%= I18n.t(".defaults.create") %></span>
  <% end %>

  <div id="new_checklist" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 my-8">
    <% if @checklists.present? %>
      <% @checklists.each do |checklist| %>
        <%= link_to checklist_path(checklist), class: "card bg-base-100 shadow-md hover:shadow-lg transition cursor-pointer" do %>
          <div class="card-body p-4">
            <div class="font-semibold text-center mb-4 text-lg"><%= checklist.title %></div>

              <div class="flex items-center space-x-2">   
              <%= link_to edit_checklist_path(checklist), data: {turbo_frame: "modal"} do %>
                <button class="btn btn-circle fa-solid fa-pen-to-square fa-lg" style="color: #293454;" ></button>
              <% end %>
      
              <%= link_to checklist, data: { turbo_method: :delete, confirm: "本当に削除しますか？作成したアイテムも削除されます", turbo_confirm: "本当に削除しますか？作成したアイテムも削除されます" } do %>
                <button class="btn btn-circle fa-solid fa-trash fa-lg" style="color: #293454;" ></button>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="col-span-full text-center">チェックリストを作成しましょう！</div>
    <% end %>
  </div>
</div>

