<div class="container mx-auto p-4 flex flex-wrap min-h-screen flex flex-col">

  <%= link_to new_checklist_path, data: { action: "modal#open", turbo_frame: "modal" } do %>
    <button class=" btn btn-block fa-solid fa-plus fa-2xl" style="color: #293454;"></button>
  <% end %>

  <div id="new_checklist" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-3">
    <% if @checklists.present? %>
      <% @checklists.each do |checklist| %>

        <div class="card w-96 bg-base-100 shadow-sm hover:shadow-lg m-2 transition cursor-pointer">
          <div class="card-body">
            <%= link_to checklist_path(checklist) do %>

              <div class="font-semibold text-center text-lg"><%= checklist.title %></div>
              <div class="divider"></div>

                <div class="flex justify-end space-x-2">
                  <%= link_to edit_checklist_path(checklist), data: {turbo_frame: "modal"} do %>
                    <div class="tooltip" data-tip="タイトルを編集">
                      <button class="btn btn-circle fa-solid fa-pen-to-square fa-lg" style="color: #293454;" ></button>
                    </div>
                  <% end %>
          
                  <%= link_to checklist, data: { turbo_method: :delete, confirm: "本当に削除しますか？作成したアイテムも削除されます", turbo_confirm: "本当に削除しますか？作成したアイテムも削除されます" } do %>
                    <button class="btn btn-circle fa-solid fa-trash fa-lg" style="color: #293454;" ></button>
                  <% end %>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="text-center">チェックリストを作成しましょう！</div>
    <% end %>
  </div>
</div>

