<%= render @checklist %>
<div>
  <%= link_to I18n.t(".defaults.edit"), edit_checklist_path(@checklist) %>
  <%= link_to I18n.t(".defaults.delete"), @checklist, data: { turbo_method: :delete } %> 
</div>
<%= render "checklist_items/form", checklist_item: @checklist_item, checklist: @checklist %>

<div id="table-checklist_item">
  <%= render @checklist.checklist_items %>
</div>

<%= link_to I18n.t(".helpers.submit.back"), checklists_path %>
