<div class="container mx-auto flex justify-center items-start h-screen">
  <div class="bg-base-100 p-6 rounded-lg shadow-md w-full mt-6 max-w-4xl">

    <!-- ヘッダー部分：戻るボタン・タイトル・編集ボタン -->
    <div class="flex justify-between items-center">

      <%= link_to checklists_path, class: "btn btn-ghost btn-circle" do %>
        <i class="fa-solid fa-arrow-right fa-rotate-180 fa-xl" style="color: #293454;"></i>
      <% end %>
      <h1 class="text-xl font-bold text-center"><%= @checklist.title %></h1>

      <%= link_to new_checklist_item_path(@checklist) do %>
        <button class="btn btn-circle fa-solid fa-pen-to-square fa-lg" style="color: #293454;" ></button>
      <% end %>
    </div>

    <div class="flex justify-between items-center">
      <div class="mb-8">
        <ul class="list-disc list-inside">
          <% @checklist.default_items.each do |item| %>
            <li class="text-lg"><%= item.name %></li>
          <% end %>
          <% @checklist.original_items.each do |original_item| %>
            <li class="text-lg"><%= original_item.name %></li>
          <% end %>
        </ul>
      </div>
    </div>        
  </div>
</div>