<div class="container mx-auto flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 shadow-md w-full max-w-2xl p-8 m-10 flex bg-neutral-content border border-neutral p-6 rounded-box">
    <div class="flex justify-between items-center">

      <%= render @checklist %>
      <div class="absolute right-12 flex items-center space-x-4">
        <%= link_to edit_checklist_path(@checklist) do %>
          <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/edit--v1.png" alt="edit" />
        <% end %>

        <%= link_to @checklist, data: { turbo_method: :delete, confirm: "本当に削除しますか？作成したアイテムも削除されます", turbo_confirm: "本当に削除しますか？作成したアイテムも削除されます" } do %>
          <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/filled-trash.png" alt="delete" />
        <% end %>
      </div>
    </div>

    <div class="mx-auto bg-base-100 p-6 rounded-lg shadow-md w-full mt-6">
      <h2 class="text-xl font-semibold mb-4 text-center">チェックリスト</h2>
      <%= render 'checklist_items/form', checklist_item: @checklist_item, checklist: @checklist %>

      <table id="table-checklist_item" class="w-full border border-gray-300 mt-3">
        <tbody>
          <%= render @checklist_items %>
        </tbody>
      </table>
    </div>
    <!-- 戻るボタン -->
    <div class="mt-6 text-center">
      <%= link_to I18n.t(".helpers.submit.back"), checklists_path, class: "btn btn-link" %>
    </div>    
  </div>    
</div>