<div>
  <% if cloth.image_file_url.present? %>
    <%= image_tag cloth.image_file_url, width:"300", heigh:"200" %>
  <% else %>
    <p>登録された画像はありません</p>
  <% end %>

  <p>カテゴリー:
    <% cloth.categories.each do |category| %>
      <%= category.name %>
    <% end %>  
  </p>

  <p>シーズン:
    <% cloth.seasons.each do |season| %>
      <%= season.name %>
    <% end %>
  </p>

  <p>ブランド:<%= cloth.brand %></p>

  <p>購入金額:<%= cloth.price %>円</p>

  <p>購入日:<%= cloth.purchase_date %></p>

  <p>購入理由:<%= cloth.body %></p>
</div>