<h1>登録フォーム画面</h1>
<!--  form_with 入力フォームに必要なHTMLを作成 -->
<%= form_with model: @cloth do |form| %>
  <%= render "shared/error_messages", object: form.object %>
  
<!-- カテゴリー追加 -->

  <div>
    <%= form.label :image_file, "画像挿入" %>
    <%= form.file_field :image_file, cless: "form-control", accept: "image/*" %>
    <%= form.hidden_field :image_file_cache %>
  </div>
  
  <div>
    <%= form.label :brand, "ブランド(任意)" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :price, "購入金額(任意)" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :purchase_date, "購入日(任意)" %>
    <%= form.date_field :purchase_date %>
  </div>

  <div>
    <%= form.label :body, "購入理由(任意)" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>
<% end %>

