<!--  form_with 入力フォームに必要なHTMLを作成 -->
<%= form_with model: @cloth, html: { class: "w-full space-y-4" } do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div>
    <label class="label">
      <%= form.label :image_file, "画像挿入【任意】", class: "label-text font-bold" %>
    </label>
    <%= form.file_field :image_file, class: "file-input w-full file-input-bordered", accept: "image/*" %>
    <%= form.hidden_field :image_file_cache %>
  
    <% if @cloth.image_file? %>
      <div class="mt-2 flex justify-center"> #非同期画像表示
        <%= image_tag @cloth.image_file.url, class: "object-contain max-w-[200px] max-h-[150px]" %>
      </div>
    <% end %>
  </div>

  <div class="form-control">
    <label class="label">
      <%= form.label :category_id, "カテゴリーを選択【必須】", class: "label-text font-bold" %>
    </label>

    <%= select_tag :root_id,
          options_for_select(Category.where(ancestry: nil).pluck(:name, :id),
          @cloth.category_ids.present? ? Category.find(@cloth.category_ids.last).root_id : nil ), #root_idあれば表示するなければnil
          include_blank: "選択してください",
          class: "select select-bordered w-full",
          data: { controller: "category", action: "change->category#fetchParents" } %>
  </div>
  <div id="get_parents" class="form-control hidden"></div>

  <div id="get_children" class="form-control hidden"></div>

  <div>        
    <label class="label">
      <%= form.label :seasons, "シーズン【必須】", class: "label-text font-bold" %>
    </label>
    <div class="flex inline-flex flex-wrap space-x-5">
      <%= form.collection_check_boxes :season_ids, Season.order(:id), :id, :name do |b| %>
        <label class="flex items-center gap-2 cursor-pointer">
          <%= b.check_box class: "checkbox checkbox-xs checkbox-info" %>
          <%= b.text %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text font-bold">購入日【任意】</span>

    </label>
    <%= form.date_field :purchase_date, class: "input input-bordered" %>
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text font-bold">購入金額【任意】</span>
    </label>
    <%= form.text_field :price, class: "input input-bordered" %>
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text font-bold">ブランド【任意】</span>
    </label>
    <%= form.text_field :brand, class: "input input-bordered" %>
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text font-bold">購入理由【任意】</span>
    </label>
    <%= form.text_area :body, class: "textarea input-bordered" %>
  </div>
  
  <div>
    <%= form.submit I18n.t(".helpers.submit.submit"), class: "btn btn-primary btn-block mt-6" %>
  </div>
<% end %>
