<h1><%=  I18n.t(".defaults.form")%></h1>
<!--  form_with 入力フォームに必要なHTMLを作成 -->
<%= form_with model: @cloth do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div>
    <%= form.label :image_file, "画像挿入(必須に設定する)" %>
    <%= form.file_field :image_file, cless: "form-control", accept: "image/*" %>
    <%= form.hidden_field :image_file_cache %>
    <%= image_tag @cloth.image_file.url, width:"300", heigh:"200" if @cloth.image_file?%>
  </div>

  <div>
    <%= form.label :category, "カテゴリーを選択(必須)" %>
    <%= select_tag :parent_id,
          options_for_select(Category.where(ancestry: "485").pluck(:name, :id)),
          include_blank: "選択してください",
          class: "form-control",
          data: { controller: "category", action: "change->category#fetchChildren", } %>
  </div>

  <div id="get_children"></div>

  <div>
    <%= form.label :seasons, "シーズン(必須)" %>
    <%= form.collection_check_boxes :season_ids, Season.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.label :brand, "ブランド(任意)" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :price, "購入金額(任意)" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :purchase_date, "購入日(任意)" %>
    <%= form.date_field :purchase_date %>
  </div>

  <div>
    <%= form.label :body, "購入理由(任意)" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit I18n.t(".helpers.submit.submit") %>
  </div>
<% end %>
