<%= search_form_for q, url: url do |f| %>
  <div class="card flex flex-col space-y-5">

    <div class="font-bold text-center">検索フォーム</div>

    <%= f.select :categories_id_eq, options_for_select(Category.all.pluck(:name, :id)), { include_blank: "カテゴリーを選択" }, { class: "select select-bordered" } %>
 
    <div class="flex flex-wrap gap-4">
      <% Season.all.each do |season| %>
        <div class="flex items-center space-x-2 mx-3">
          <%= f.check_box :seasons_id_eq_any, { multiple: true, include_hidden: false, class: "checkbox checkbox-sm checkbox-info", checked: season[:checked], disabled: season[:disabled] }, season[:id] %>
          <label><%= season.name %></label>
        </div>
      <% end %>
    </div>

    <span class="label-text">購入日
      <div class="flex flex-wrap items-center space-x-2">
        <%= f.date_field :purchase_date_gteq, class: "input input-bordered w-28" %>
        <span>～</span>
        <%= f.date_field :purchase_date_lteq, class: "input input-bordered w-28" %>
      </div>
    </span>

    <span class="label-text">購入金額
      <div class="flex flex-wrap items-center space-x-2">
        <%= f.number_field :price_gteq, class: "input input-bordered w-28" %>円
        <span>～</span>
        <%= f.number_field :price_lteq, class: "input input-bordered w-28" %>円
      </div>
    </span>

    <%= f.search_field :brand_or_body_cont, value: params.dig(:q, :brand_or_body_cont), class: "input input-bordered w-full", placeholder: "ブランド&購入理由 あいまい検索" %>

    <div>
      <%= f.submit class: "btn btn-outline btn-info w-full" %>
    </div>
  </div>
<% end %>
