<div class="container mx-auto px-4 min-h-screen flex flex-col md:flex-row lg:flex-row gap-4">

  <aside class="md:w-1/4 lg:w-1/4 bg-base-200 rounded-lg p-3 m-4">
    <%= render 'search_form', q: @q, url: cloths_path %>
  </aside>

  <main class="flex-1 p-4">

  <%= link_to new_cloth_path, data: { action: "modal#open", turbo_frame: "modal" } do %>
    <button class=" btn btn-block fa-solid fa-plus fa-2xl" style="color: #293454;"></button>
  <% end %>

  <div id="new_cloth" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-6 my-8">
    <% if @cloths.present? %>
      <% @cloths.each do |cloth| %>
        <%= link_to cloth_path(cloth), class: "block bg-base-100  rounded-md overflow-hidden transition-transform transform hover:scale-105" do %>
          <div class="w-full aspect-square">
            <%= image_tag cloth.image_file.url, class: "w-full h-full object-cover" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
    <div class="text-center mt-4">アイテムが見つかりませんでした</div>

    <% end %>
  </div>     
  <%= paginate @cloths %>
  </main>
</div>
