<h1><%= I18n.t(".defaults.show") %></h1>

<%= render @cloth %>

<div>
  <%= link_to I18n.t(".defaults.edit"), edit_cloth_path(@cloth) %>
  <%= link_to I18n.t(".defaults.delete"), @cloth, data: { turbo_method: :delete } %>
  
  <%= link_to I18n.t(".helpers.submit.back"), cloths_path %>
</div>