<div class="container mx-auto p-4 flex flex-wrap items-center justify-center min-h-screen">
  <div class="card max-w-sm mx-auto bg-base-100 shadow-md w-full relative p-6 my-6">

    <%= link_to cloths_path do %>
      <button class="btn btn-ghost btn-circle fa-solid fa-arrow-right fa-rotate-180 fa-2xl" style="color: #293454;" ></button>
    <% end %>

    <div class="absolute right-4 space-x-2">
      <div class="tooltip" data-tip="登録内容を編集">
        <%= link_to edit_cloth_path(@cloth), data: { action: "modal#open", turbo_frame: "modal" } do %>
          <button class="btn btn-circle fa-solid fa-pen-to-square fa-lg" style="color: #293454;" ></button>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="お洋服を削除">
        <%= link_to @cloth, data: { turbo_method: :delete, confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" } do %>
          <button class="btn btn-circle fa-solid fa-trash fa-lg" style="color: #293454;"></button>
        <% end %>
      </div>
    </div>
                    
    <%= render @cloth %>
        
    <div class="tooltip" data-tip="確認画面が表示されます">
      <%= link_to confirm_discard_cloth_path(@cloth), data: { action: "modal#open", turbo_frame: "modal" }, class: "btn btn-block btn-outline btn-info" do %>
      断捨離する
      <% end %>
    </div>
  </div>
</div>
